.md-footer {
    background-color: var(--md-default-bg-color);
    color: var(--md-typeset-a-color);
}

.md-footer-meta {
    background-color: var(--md-footer-bg-color);
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}


@media (min-width: 1024px) {
    .grid.cards.inline-grid {
        display: flex;
        flex-wrap: nowrap;
        gap: 0.25rem;
        font-size: smaller;
    }
}
